{% extends 'base.html' %}
{% block content %}

<h1>Parolni tiklash</h1>
<p>Parolni tiklash uchun formani to'ldiring</p>
{% if validlink %}
<p>Please, Yangi parolni ikki marta kiriting</p>

<form method="post" >{% csrf_token %}
{{form.as_p}}
<p><button type="submit">Parolni almashtirish</button></p>
    <button class="btn btn-primary w-100 py-3" type="submit">Parolni Almashtirish</button>
</form>
{% else %}
<p>Siz noto'g'ri linkdan foydalandingiz yoki vaqt o'tib ketti</p>
{% endif %}

{% endblock content %}