{% extends 'base.html' %}
{% load static %}
{% block content %}

      <!-- catagary section start -->
      <div class="catagary_section layout_padding">
         <div class="container">
            <div class="catagary_main">
               <div class="catagary_left">
                  <h2 class="categary_text">Categary</h2>
               </div>
               <div class="catagary_right">
                  <div class="catagary_menu">
                     <ul>
                        <li><a href="#">Man's Fashion</a></li>
                        <li><a href="#">Woman Fashion</a></li>
                        <li><a href="#">Beauty</a></li>
                        <li><a href="#">Mobiles</a></li>
                        <li><a href="#">Computers</a></li>
                        <li><a href="#">Watchs</a></li>
                        <li><a href="#">Kicthen</a></li>
                        <li><a href="#">Sports</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="catagary_section_2">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-4">
                  <div class="box_man">
                     <h3 class="mobile_text">{{ device.name }}</h3>
                     <div class="mobile_img"><img style="width:400px; high:400px;" src="{{device.img.url}}"></div>
                     <div class="cart_main">
                        <div class="cart_bt"><a href="#">Add To Cart</a></div>
                        <h4 class="samsung_text">{{ device.brand }}</h4>
                        <h6 class="rate_text"><a href="#">{{ device.price }} $</a></h6>
                        <h6 class="rate_text_1">{{ device.oldprice }} $</h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- catagary section end -->

{% endblock content %}